<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${title}">Java Final</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <a href='/listings/new'>Create New Listing</a>

    <form class="form-horizontal" th:action="@{/done/search}" method="post">
        <div>
            <table>
                <thead>
                <tr>
                    <th>Search Field</th>
                    <th>Order By</th>
                    <th><input type="radio" name="ascDesc" value="1" checked>Asc
                    <input type="radio" name="ascDesc" value="-1">Desc
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><label>City:</label></td>
                    <td><input type="text" name="city" th:value="${city}"/></td>
                    <td><input type="radio" name="orderBy" value="city">City</td>
                </tr>
                <tr>
                    <td><label>Max Price:</label></td>
                    <td><input type="number" name="price" th:value="${price}"/></td>
                    <td><input type="radio" name="orderBy" value="price">Price</td>
                </tr>
                <tr>
                    <td><label>Bedrooms:</label></td>
                    <td><input type="number" name="beds" th:value="${beds}"/></td>
                    <td><input type="radio" name="orderBy" value="beds"># of Beds</td>
                </tr>
                <tr>
                    <td><label>Sq. Feet:</label></td>
                    <td><input type="number" name="sqFt" th:value="${sqFt}"/></td>
                    <td><input type="radio" name="orderBy" value="sqFt">Sq Ft</td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Submit</button>
                    </td>
                    <td></td>
                    <td><input type="radio" name="orderBy" value="natural" checked>Natural</td>
                </tr>
                </tbody>
            </table>
            <div>

            </div>
        </div>
    </form>
    <div th:if="${#lists.isEmpty(listings)}">
        <h2>Nothing found</h2>
        <h3>Try Again</h3>
    </div>
    <div th:if="${not #lists.isEmpty(listings)}">
        <h3 th:text="'Listing Count: ' + ${listings.size()}"></h3>
        <h4 th:text=" ${criteria}"></h4>
        <table class="blueTable">
            <thead>
            <tr>
                <!--
                    This is just for your reference to remind you or the attributes you can choose to display
                        propertyType,   address,    city,       zip,
                        price,          beds,       baths,      location,
                        sqFt,           lotSize,    yearBuilt,  daysOnMarket,
                        pricePerSqFt,   hoa,        link,       latitude,       longitude
                -->
                <th>City</th>
                <th>Zip</th>
                <th>Price</th>
                <th>Sq Feet</th>
                <th>Beds / Baths</th>
                <th>Location</th>
                <th>Link to Listing</th>
            </tr>
            </thead>
            <tr th:each="listing : ${listings}">
                <td th:text="${listing.city}">City</td>
                <td th:text="${listing.zip}" align="right">Zip</td>
                <td th:text="${#numbers.formatCurrency(listing.price)}" align="right">Price</td>
                <td th:text="${listing.sqFt}" align="right">Sq Ft</td>
                <td th:text="${listing.beds} + ' / ' + ${listing.baths}" align="center">Beds</td>
                <td th:text="${listing.location}">Location</td>
                <td><a th:href="${listing.link}">
                    <div th:text="${listing.address}"></div>
                </a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>